<header>Eat-Da-Burger!</header>

<div id="menu" class="jumbotron">

    <div class="row">
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="row">
        <form class="row" action="/burgers/{{this.id}}?_method=PUT" method="POST">
          <h3 class="col-sm-9">{{this.burger_name}}</h3>
          <button type="submit" class='ready col-sm-3'>Devour!</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>

    <div class="row">
      {{#each burgers}}
      {{#if this.devoured}}
      <div class='eaten'>
        <div>
          {{this.burger_name}}
        </div>
      </div>
      {{/if}}
      {{/each}}
    </div>

</div id="menu">

<h2>Create a new burger!</h2>

<div class="row">
  <div class="col-sm-12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Whatcha cravin? ;)">
      <button type="submit" class="submit">Submit</button>
    </form>
  </div>
</div>